*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #2f2f2f;
}
.lead {
  font-size: 1rem;
  font-weight: 300;
}
section {
  padding: 12rem 0;
}
.hero {
  padding: 8rem 0;
  background: none;
}
footer.main-footer {
  padding: 3rem 0;
  background-image: linear-gradient(
    to bottom,
    #56c1ff 0%,
    #4ba3d6 50%,
    #4597c7 100%
  );
  background-image: -webkit-linear-gradient(
    to bottom,
    #56c1ff 0%,
    #4ba3d6 50%,
    #4597c7 100%
  );
  background-image: -moz-linear-gradient(
    to bottom,
    #56c1ff 0%,
    #4ba3d6 50%,
    #4597c7 100%
  );
  color: #2f2f2f;
  padding-bottom: 0;
}

.bg-gradient-pre-footer {
  background-image: linear-gradient(to bottom, #42c88b 0%, #56c1ff 100%);
  background-image: -webkit-linear-gradient(
    to bottom,
    #42c88b 0%,
    #56c1ff 100%
  );
  background-image: -moz-linear-gradient(to bottom, #42c88b 0%, #56c1ff 100%);
}

.footer-logo {
  filter: grayscale(100%);
  opacity: 0.2;
}
nav.navbar.active {
  background: #fff;
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.08);
}
.nav-link:hover,
.nav-link:focus,
.nav-link.active {
  color: #2f2f2f;
  text-decoration: none;
}
.modal-content .close {
  background: #2f2f2f;
}
.btn {
  font-weight: bold;
}
.btn-gradient {
  padding: 0.5rem 4rem 0.5rem 4rem;
  text-align: center;
  transition: 0.3s;
  background-size: 200% auto;
  color: #eeeeee;
  /*text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);*/
  /* box-shadow: 0 0 20px #eee;*/
  border-radius: 50px;
  font-weight: bold;
}

.btn-gradient:hover {
  background-position: right center;
  color: #fff;
}

.btn-gradient {
  background-image: linear-gradient(
    to right,
    #42c88b 0%,
    #56c1ff 51%,
    #42c88b 100%
  );
  background-image: -moz-linear-gradient(
    to right,
    #42c88b 0%,
    #56c1ff 51%,
    #42c88b 100%
  );
  background-image: -webkit-linear-gradient(
    to right,
    #42c88b 0%,
    #56c1ff 51%,
    #42c88b 100%
  );
}
.lead {
  font-size: 1rem;
  font-weight: 300;
}
.social-link {
  color: #fff;
  font-size: 1.3rem;
  margin: 0 0.625rem;
}
@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 75%;
  }
}
@media all and (max-width: 768px) {
  .btn-block-mobile {
    width: 100%;
    display: block;
    font-size: 0.9rem;
  }
  section {
    padding: 7rem 0;
  }
}

/*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/

.quote {
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-image: linear-gradient(to right, #56c1ff 0%, #42c88b 70%);
  background-image: -moz-linear-gradient(to right, #56c1ff 0%, #42c88b 70%);
  background-image: -webkit-linear-gradient(to right, #56c1ff 0%, #42c88b 70%);
  border: none;
  height: 10px;
  border-radius: 20px;
}
#fade-quote-carousel blockquote {
  text-align: center;
  border: none;
  margin: 30px auto;
}
#fade-quote-carousel .profile-circle img {
  width: 150px;
  margin: 0 auto;
}
#fade-quote-carousel .profile-circle p {
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}
.stepwizard-step p {
  margin-top: 10px;
}

.process-row {
  display: table-row;
}

.process {
  display: table;
  width: 100%;
  position: relative;
}

.process-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.process-row:before {
  top: 50px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 10px;
  background-color: #f6f6f6;
  z-index: 0;
}

.process-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.process-step p {
  margin: 10px 30px;
  color: #2f2f2f;
  font-size: 0.9em;
}

.btn-circle {
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 6px 0;
  font-size: 1.5em;
  line-height: 1.5;
  border-radius: 15px;
  border: 1px solid #eee;
  background-color: #f6f6f6;
  color: #ddd;
}

.carousel-item img {
  max-width: 70%;
  transition: all 0.5s;
  filter: grayscale(100%);
  opacity: 0.6;
}

.carousel-item img:hover {
  filter: grayscale(0%);
  opacity: 1;
}
.owl-stage{
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-item .item img{
  border: none !important;
}
.superscript { 
  position: relative; 
  top: -0.5em; 
  font-size: 60%; 
}